.main{
    background:url(images/background-hero.png);
    // padding-left: 30px;
    flex-grow: 1;    
}
.hero{
    display: flex;
}
.hero-image{
    padding-top: 46px;
}
.hero-image-picture{    
height: 600px;
width: 653px;
}

.hero-text{
    margin-left: 251px;
    margin-top: 133px;
}
.hero-text-image{
position: relative;
}
.hero-plant-text{
    font-family:'Nunito Sans', sans-serif ;
    font-weight:700;
    font-size: 16px;
    line-height: 201px; 
}
.h1-hero1{
color: #212529;
font-family:'Nunito Sans', sans-serif ;
font-weight:800;
font-size: 58px;
line-height: 79.11px;
margin-top: 20px;
margin-bottom: 0px;
}
.h1-hero2{
color: $light-green;
font-weight:800;
font-size: 58px;
line-height: 79.11px;
margin-top: 0px;
margin-bottom: 20px;
}
.hero-lorem{
color: #676767;
font-family:'Nunito Sans', sans-serif ;
font-weight:400;
font-size: 18px;
line-height: 30px;
}
.button-hero-area{
margin-left: 251px;
position: relative;
}
.button-hero{
background: $light-green;
border-radius: 5px;
color: #FFFFFF;
width: 175px;
height: 50px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 13px 35px;
gap: 10px;
}
.button-hero:hover{
background-color: $dark-green;
}
.button-hero-pharagraph{
color: #676767;
font-family: 'Nunito Sans', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 30px;
position: absolute;
left: 186px;
top: -6px;
}
.custorms-hero-type{
display: flex;
margin-left: 251px;
margin-top: 51px;
gap: 100px;
}
.happy-custorms,.garden-created,.team-members{
position: relative;
}
.circle{
color: #212529;
width: 36px;
height: 20px;
font-family: 'Nunito Sans', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 20px;
background: linear-gradient(72.71deg, #00730C -83.5%, #F9F9F9 93.84%);
border-radius: 35px;
width: 50px;
height: 50px;
align-items: flex-start;
padding: 15px 7px;
}
.circle-text{
color: #212529;
width: 89px;
height: 40px;
font-family: 'Nunito Sans', sans-serif;;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-transform: capitalize;
position: absolute;
left: 50px;
top: -8px;
}