.header {
  display: flex;
  height: 100px;
  align-items: center;
  height: 144px;
  font-size: 14px;
}

.header-top-information {
  width: 100%;
  display: flex;
  background-color: #0C4B35;
  padding-left: 251px;
  padding-right: 251px;
  line-height: 25px;
  height: 59px;
}

.row-header-top {
  height: 59px;
}

.letter-image {
  display: inline-block;
  position: relative;
  width: 313px;
  height: 29px;
  margin: 0px;
  line-height: 0px;
  top: 21px;
}

.letter1 {
  position: absolute;
  padding: 22.44px 11.1px;
  top: -24px;
  left: -5px;
}

.letter2 {
  position: absolute;
  padding: 22.44px 11.1px;
  left: -5px;
  top: -14px;
}

.letter3 {
  position: absolute;
  padding: 7.77px 15.12px;
  left: 6px;
  top: -8px;
}

.letter4 {
  position: absolute;
  padding: 7.77px 15.12px;
  left: -9px;
  top: -8px;
}

.email {
  padding-left: 38px;
  position: absolute;
  top: -6px;
}

.phone-image {
  display: inline-block;
  position: relative;
  width: 163px;
  height: 29px;
  margin: 0px;
  line-height: 0px;
  top: 16px;
  right: 37px;
}

.phone {
  height: 25px;
  width: 25px;
  margin-top: 17px;
  position: absolute;
  top: -14px;
  right: 124px;
}

.number {
  left: 30px;
  position: absolute;
  top: 0px;
  left: 36px;
}

.place-image {
  display: inline-block;
  position: relative;
  width: 279px;
  height: 29px;
  margin: 0px;
  left: -52px;
  top: 18px;
}

.place {
  height: 16.11px;
  width: 22.34px;
  margin-top: 15px;
  height: 16.11px;
  width: 22.34px;
  margin-top: 15px;
  position: absolute;
  top: -9px;
}

.place1 {
  height: 16.11px;
  width: 22.34px;
  margin-top: 15px;
}

.adress {
  position: absolute;
  top: -11px;
  left: 22px;
}

.language {
  position: relative;
  top: 6px;
}

.arrow-white {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 6px;
  right: 1px;
}

.header-bottom-information {
  width: 100%;
  display: flex;
  background-color: #FFFFFF;
  color: black;
  padding-left: 251px;
  padding-right: 251px;
  line-height: 25px;
  width: 1408px;
  height: 85px;
}

.row-header-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  height: 85px;
}

.menu {
  display: flex;
  gap: 22px;
  list-style-type: none;
  line-height: 52px;
  height: 50px;
  padding-left: 94px;
}

.menu-items {
  text-decoration: none;
  height: 50px;
  position: relative;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header-logo {
  position: relative;
  height: 55px;
  width: 120px;
  top: 10px;
}

.logo {
  position: absolute;
  top: 10px;
}

.logo1 {
  position: absolute;
  left: 95px;
}

.arrow-black {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 7px;
}

.header-button {
  position: relative;
}

.button-call {
  background-color: #00730C;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 10px 35px;
  padding-top: 16px;
  margin-top: 14px;
  border-style: none;
  position: absolute;
  padding-left: 54px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  width: 170px;
  height: 50px;
}

.button-call:hover {
  background-color: #0C4B35;
}

.button-picture1 {
  position: absolute;
  width: 19.39px;
  height: 15.82px;
  left: 38px;
  top: 14px;
}

.button-picture2 {
  position: absolute;
  width: 22.38px;
  height: 22.32px;
  left: 25px;
  top: 17px;
}

.main {
  background: url(images/background-hero.png);
  flex-grow: 1;
}

.hero {
  display: flex;
}

.hero-image {
  padding-top: 46px;
}

.hero-image-picture {
  height: 600px;
  width: 653px;
}

.hero-text {
  margin-left: 251px;
  margin-top: 133px;
}

.hero-text-image {
  position: relative;
}

.hero-plant-text {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 201px;
}

.h1-hero1 {
  color: #212529;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  font-size: 58px;
  line-height: 79.11px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.h1-hero2 {
  color: #00730C;
  font-weight: 800;
  font-size: 58px;
  line-height: 79.11px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.hero-lorem {
  color: #676767;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.button-hero-area {
  margin-left: 251px;
  position: relative;
}

.button-hero {
  background: #00730C;
  border-radius: 5px;
  color: #FFFFFF;
  width: 175px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 35px;
  gap: 10px;
}

.button-hero:hover {
  background-color: #0C4B35;
}

.button-hero-pharagraph {
  color: #676767;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  position: absolute;
  left: 186px;
  top: -6px;
}

.custorms-hero-type {
  display: flex;
  margin-left: 251px;
  margin-top: 51px;
  gap: 100px;
}

.happy-custorms, .garden-created, .team-members {
  position: relative;
}

.circle {
  color: #212529;
  width: 36px;
  height: 20px;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  background: linear-gradient(72.71deg, #00730C -83.5%, #F9F9F9 93.84%);
  border-radius: 35px;
  width: 50px;
  height: 50px;
  align-items: flex-start;
  padding: 15px 7px;
}

.circle-text {
  color: #212529;
  width: 89px;
  height: 40px;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  position: absolute;
  left: 50px;
  top: -8px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1410px;
  width: 1410px;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.col-1 {
  max-width: 8.33333333%;
  flex: 0 0 8.33333333%;
}

.col-2 {
  max-width: 16.66667%;
  flex: 0 0 16.66667%;
}

.col-3 {
  max-width: 25%;
  flex: 0 0 25%;
}

.col-4 {
  max-width: 33.33333%;
  flex: 0 0 33.33333%;
}

.col-6 {
  max-width: 50%;
  flex: 0 0 50%;
}

.col-8 {
  display: flex;
  max-width: 66%;
  flex: 0 0 66%;
}

.col-9 {
  max-width: 75%;
  flex: 0 0 75%;
}

.col-10 {
  max-width: 83.3333333%;
  flex: 0 0 83.3333333%;
}

.col-11 {
  max-width: 91.6666667%;
  flex: 0 0 91.6666667%;
}

p {
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}

a {
  color: black;
}

.footer {
  background-color: grey;
  padding: 30px;
  flex-shrink: 0;
}

@media (max-width: 1200px) {
  /* mobile version */
  .email, .number, .adress {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */